<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Nouvel emprunt</title>
</head>
<body>
    <h1>Emprunt de livre</h1>
    <p>Bonjour {{ user.username }},</p>
    <p>Vous avez emprunté le livre "{{ livre.title }}" par {{ livre.author }}.</p>
    <p>Date d'emprunt : {{ emprunt.dateEmprunt|date('d/m/Y') }}</p>
    <p>Date de retour prévue : {{ emprunt.dateRetour|date('d/m/Y') }}</p>
    <p>Merci de le retourner avant la date d'échéance.</p>
    <p>Cordialement,</p>
    <p>Votre bibliothèque</p>
</body>
</html>
