{% extends 'base.html.twig' %}

{% block title %}Liste des bibliothèques{% endblock %}

{% block body %}

<style>
  @keyframes fadeIn {
      from {
          opacity: 0;
          transform: translateY(-10px);
      }
      to {
          opacity: 1;
          transform: translateY(0);
      }
  }
  .animate-fadeIn {
      animation: fadeIn 1s ease-out;
  }
</style>

<div class='aspect-[801/1036] pt-24'>



<div class="bg-white">
    <div class="mx-auto max-w-7xl overflow-hidden py-16 sm:px-6 sm:py-24 lg:px-8">
        {% if is_granted('ROLE_LIBRARIAN') %}
        <h1 class='animate-fadeIn font-black text-8xl'><span class='font-light'>Ta</span> bibliothèque</h1>
    {% else %}
        <h1 class='bold text-7xl mb-12'>Liste des bibliothèques</h1>
    {% endif %}
      <div class="grid grid-cols-1 gap-x-6 gap-y-16 sm:grid-cols-2 lg:grid-cols-3 lg:gap-x-8 p-4">

        {% for bibliotheque in bibliotheques %}
        {% if not is_granted('ROLE_LIBRARIAN') %}
                <a href="{{ path('bibliotheque_show', {'id': bibliotheque.id}) }}" class="group text-sm">
                  <div class="aspect-h-1 aspect-w-1 w-full h-full overflow-hidden rounded-lg bg-gray-100 group-hover:opacity-75">
                    <img src="{{ bibliotheque.image }}" alt="{{ bibliotheque.name }}" class="h-full w-full object-cover object-center">
                  </div>
                  <h3 class="mt-4 text-2xl font-medium text-gray-900">      {{ bibliotheque.name }}</h3>
                </a>
                {% endif %}

        

        {% else %}
            <li>Aucune bibliothèque trouvée.</li>
        {% endfor %}
    </div>
</div>
</div>

{% for bibliotheque in bibliotheques %}

{% if is_granted('ROLE_LIBRARIAN') %}
<div class="relative isolate overflow-hidden bg-white px-6 py-2 sm:py-32 lg:overflow-visible lg:px-0">
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
      <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
        <div class="lg:pr-4">
          <div class="lg:max-w-lg">

            <h1 class="mt-2 text-3xl font-light text-blue-400 tracking-tight text-gray-900 sm:text-6xl">{{bibliotheque.name}}</h1>
            <p class='text-2xl font-light mt-6 leading-loose'>{{bibliotheque.description}}</p>
          </div>
        </div>
      </div>
      <div class="-ml-12 -mt-52 p-12 lg:sticky lg:top-0 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
        <a href="{{ path('bibliotheque_show', {'id': bibliotheque.id}) }}">
        <img class="w-[48rem] max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]" src="{{ bibliotheque.image }}" alt="">
        </a>
      </div>
      <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
        <div class="lg:pr-4">
          <div class="max-w-xl text-base leading-7 text-gray-700 lg:max-w-lg">
  
            <a href='{{ path('librarian_edit_bibliotheque', {'id': bibliotheque.id}) }}' class="text-xl font-semibold leading-6 text-gray-900 hover:text-red-500 text-blue-600 hover:text-red-500 inline-block mt-8">Modifier<span aria-hidden="true">&rarr;</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endif %}

{% endfor %}

</div>
{% endblock %}
